@use '../../utils/variables/colors.scss';

.selectWrapper {
    position: relative;
    display: inline-block;
    border: 1px solid colors.$red-vine;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    user-select: none;
    width: 100%;

    &-sm {
        max-width: 200px;
    }

    &-md {
        max-width: 400px;
    }

    &-lg {
        max-width: 600px;
    }

    &-full {
        max-width: 100%;
    }

    &.disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

    .selectedValue {
        display: flex;
        justify-content: space-between;
        padding: 8px 12px;
        font-size: 14px;
        color: colors.$text-secondary;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .arrow {
        transition: .3s ease;
    }

    &.open {
        .arrow {
            transform: rotate(-900deg);
            transition: .3s ease;
        }
    }

    .options {
        position: absolute;
        top: 100%;
        left: -1px;
        width: 100%;
        margin-top: 4px;
        border: 1px solid colors.$red-vine;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        list-style: none;
        padding: 0;
        margin: 0;

        .option {
            padding: 8px 12px;
            font-size: 14px;
            color: colors.$text-gray;
            cursor: pointer;

            &:hover {
                background: #ddd;
                border-top: 1px solid colors.$gray-light;
                border-bottom: 1px solid colors.$gray-light;
            }

            &.active {
                color: colors.$red-vine;
            }

            &:hover:first-child {
                border-top: none;
            }

            &:hover:last-child {
                border-bottom: none;
            }
        }
    }
}