$text-primary: #f1f1f1;
$text-secondary: #292929;

$text-gray: #666666;

// Оттенки серого
$gray-dark: #4d4244;
$gray-medium: #acacac;
$gray-light: #999;
$gray-disabled: #ccc;

// Красные оттенки
$red-deep: #b3190d;
$red-deep-light: #c73f2d;
$red-vine: #d70026;
$red-light: #e54b5d;

// Цвета фона
$background-primary: #fafafa;
$background-secondary: #f7f7f7;

// Цвета для темной темы
$dark-text-primary: #e0e0e0;
$dark-text-secondary: #b3b3b3;

$dark-background-primary: #121212;
$dark-background-secondary: #1e1e1e;

$dark-accent: #3b3b3b;
$dark-accent-light: #5a5a5a; 
$dark-border: #333333;